# Track large files using Git LFS
lab2/**/*.so filter=lfs diff=lfs merge=lfs -text
lab2/**/*.ispm filter=lfs diff=lfs merge=lfs -text
lab2/**/*.tar.gz filter=lfs diff=lfs merge=lfs -text
lab2/simics/simics-gdb-7.7.0/linux64/bin/gdb filter=lfs diff=lfs merge=lfs -text
lab2/intel-simics-package-manager-1.14.0/ispm filter=lfs diff=lfs merge=lfs -text
lab2/intel-simics-package-manager-1.14.0/ispm-gui filter=lfs diff=lfs merge=lfs -text
lab3/**/*.so filter=lfs diff=lfs merge=lfs -text
lab3/simics/simics-gdb-7.7.0/linux64/bin/gdb filter=lfs diff=lfs merge=lfs -text
lab3/intel-simics-package-manager-1.14.0/ispm filter=lfs diff=lfs merge=lfs -text
lab3/intel-simics-package-manager-1.14.0/ispm-gui filter=lfs diff=lfs merge=lfs -text
lab4/**/*.so filter=lfs diff=lfs merge=lfs -text
lab4/simics/simics-gdb-7.7.0/linux64/bin/gdb filter=lfs diff=lfs merge=lfs -text
lab4/intel-simics-package-manager-1.14.0/ispm filter=lfs diff=lfs merge=lfs -text
lab4/intel-simics-package-manager-1.14.0/ispm-gui filter=lfs diff=lfs merge=lfs -text
lab5/**/*.so filter=lfs diff=lfs merge=lfs -text
lab5/simics/simics-gdb-7.7.0/linux64/bin/gdb filter=lfs diff=lfs merge=lfs -text
lab5/intel-simics-package-manager-1.14.0/ispm filter=lfs diff=lfs merge=lfs -text
lab5/intel-simics-package-manager-1.14.0/ispm-gui filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.ispm filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
gdb filter=lfs diff=lfs merge=lfs -text
ispm-gui filter=lfs diff=lfs merge=lfs -text
lab5/**/*.tar.gz filter=lfs diff=lfs merge=lfs -text
lab5/**/gdb filter=lfs diff=lfs merge=lfs -text
lab5/**/ispm filter=lfs diff=lfs merge=lfs -text
lab5/**/ispm-gui filter=lfs diff=lfs merge=lfs -text
