lab2/**/*.so filter=lfs diff=lfs merge=lfs -text
lab2/**/*.ispm filter=lfs diff=lfs merge=lfs -text
lab2/**/*.tar.gz filter=lfs diff=lfs merge=lfs -text
lab2/simics/simics-gdb-7.7.0/linux64/bin/gdb filter=lfs diff=lfs merge=lfs -text
